<div class="container">
  <div *ngIf="!result">
    <div class="spinner-border text-warning">Loading....</div>
  </div>
  <div *ngIf="result" class="container">
    <div class="row">
      <div class="col-3">
        <img width="200px" height="200px" [src]="result?.countryInfo?.flag" alt="" class="img-fluid">
      </div>
      <div class="col-9">
        <div class="container">
          <span class="text-info">Country </span><h3 class="text-dark">{{result?.country}}</h3>
          <span class="text-info">Cases </span><h3 class="text-dark">{{result?.cases}}</h3>
          <span class="text-info">Critical </span><h3 class="text-dark">{{result?.critical}}</h3>
          <span class="text-info">TotalDeaths </span><h3 class="text-dark">{{result?.deaths}}</h3>
          <span class="text-info">Population </span><h3 class="text-dark">{{result?.population}}</h3>
          <span class="text-info">ActivePerOneMillion </span><h3 class="text-dark">{{result?.activePerOneMillion}}</h3>
          <span class="text-info">RecoveredPerOneMillion </span><h3 class="text-dark">{{result?.recoveredPerOneMillion}}</h3>
          <span class="text-info">CriticalPerOneMillion </span><h3 class="text-dark">{{result?.criticalPerOneMillion}}</h3>
          <span class="text-info">CasesPerOneMillion </span><h3 class="text-dark">{{result?.casesPerOneMillion}}</h3>
          <span class="text-info">DeathsPerOneMillion </span><h3 class="text-dark">{{result?.deathsPerOneMillion}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
